<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <div>
      {{ message }}
    </div>
    <div>
      <span v-bind:title="message2">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>
    <div>
      <span v-if="seen">Now you see me</span>
    </div>
    <div>
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <div>
      {{ message3 }}
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div>
      <p>{{ message3 }}</p>
      <input v-model="message3">
    </div>
    <div>
      <ol>
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>
  </div>

  <script>
    Vue.component('todo-item', {
      // The todo-item component now accepts a
      // "prop", which is like a custom attribute.
      // This prop is called todo.
      props: ['todo'],
      template: '<li>{{ todo.text }}</li>'
    })
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        message2: 'You loaded this page on ' + new Date().toLocaleString(),
        seen: true,
        todos: [
          { text: 'Learn JavaScript' },
          { text: 'Learn Vue' },
          { text: 'Build something awesome' }
        ],
        message3: 'Hello Vue.js!',
        groceryList: [
          { id: 0, text: 'Vegetables' },
          { id: 1, text: 'Cheese' },
          { id: 2, text: 'Whatever else humans are supposed to eat' }
        ]
      },
      methods: {
        reverseMessage: function () {
          this.message3 = this.message3.split('').reverse().join('')
        }
      }
    })
  </script>
</body>
</html>
